@import "../colors";

.footer-wrap {
  background-color: $bg-primary;
  padding: 60px 0;
  color: white;

  .__content-wrap,
  .footer-2-wrap {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .__left-panel-wrap,
  .__right-panel-wrap {
    flex: 1;
  }

  .__left-panel-wrap {
    text-align: center;
    h3,
    h4,
    p {
      margin: 0;
      font-weight: normal;
    }
    h3 {
      color: $primary;
      font-weight: bold;
    }
    p {
      font-size: 13px;
    }
    .contact-info-wrap {
      padding-top: 16px;
    }
  }

  .__right-panel-wrap {
    .img-wrap {
      text-align: center;
      margin: 32px auto;
      img {
        max-width: 100%;
        width: 240px;
        border-radius: 50%;
      }
    }
  }


  .footer-2-wrap {
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .footer-wrap {
    .__content-wrap {
      flex-direction: column-reverse;
    }
    .footer-2-wrap {
      margin-top: 48px!important;
    }
  }
}
