@import "../colors";
@import "../animations";

.hero-wrap {
  height: 100vh;
  background-color: black;
  position: relative;
  .video-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    object-fit: cover;
  }

  ._main-content-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;

    .img-name-wrap,
    .my-info-wrap {
      flex: 1;
    }

    .img-name-wrap {
      animation: slide-up 600ms ease-in-out forwards;
      flex: 2;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      width: 100%;
      position: relative;

      img {
        position: absolute;
        bottom: 0;
        left: 30%;
        z-index: 0;
      }

      .name-wrap {
        z-index: 1;
        color: white;
        font-size: 42px;
        svg,
        mask {
          animation: name-fill 600ms forwards 2100ms;
        }
        .fname,
        .lname {
          margin: 0;
        }
        .lname {
          line-height: 1.1;
        }

        .fake-border {
          margin: 0;
          margin-top: 16px;
          color: $primary;
          border-color: $primary;
          max-width: 220px;
        }
      }
    }

    .my-info-wrap {
      z-index: 1;
      align-self: center;
      color: white;
      opacity: 0;
      .role-name {
        color: $primary;
        margin-bottom: 8px;
        border-bottom: 1px solid $primary;
        display: inline-block;
      }
      .location-info-1,
      .location-info-2 {
        margin: 0;
      }
      p {
        font-size: 15px;
      }
      .contact-email {
        color: $primary;
      }
      animation: slide-up 600ms 600ms ease-in-out forwards;
    }
  }
}

@media only screen and (max-width: 960px) {
  .hero-wrap {
    ._main-content-wrap {
      margin: auto 16px;
      .fake-border {
        max-width: 120px;
      }
      .img-name-wrap {
        img {
          max-width: 400px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero-wrap {
    ._main-content-wrap {
      flex-direction: column;
      .fake-border {
        max-width: 120px;
      }

      .img-name-wrap {
        align-items: flex-end;
        flex: 1;
        .fname {
          svg {
            width: 320px;
          }
        }
        .lname {
          svg {
            width: 260px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .hero-wrap {
    ._main-content-wrap {
      padding-top: 60px;
      .img-name-wrap {
        flex: 1;
        .fname {
          svg {
            width: 280px;
          }
        }
        .lname {
          svg {
            width: 240px;
          }
        }
      }
    }
  }
}

@keyframes name-fill {
  from {
    fill: transparent;
  }
  to {
    fill: #fff;
  }
}

@keyframes name-move-fill {
  to {
    stroke-dashoffset: 0;
  }
}
