@import "../colors";

.projects-full-wrap {
  padding: 120px 0;
  background-image: linear-gradient(to left top, $bg-secondary 0%, black 100%);
  color: white;
  .project-main-content-wrap {
    margin: 0 auto;
    .my-projects-headline {
      text-align: center;
      color: $primary;
      font-weight: bolder;
      font-size: 24px;
      margin: 0;
      // margin-bottom: 48px;
    }
    .__fake-border {
      text-align: center;
      display: block;
      height: 4px;
      width: 24px;
      border-radius: 10px;
      background-color: $primary;
      margin: 16px auto;
      margin-bottom: 48px;
    }
  }

  .cards-wrap {
    display: flex;
    .card-container {
      margin: auto 16px;
      padding: 40px;
      min-height: 380px;
      border-radius: 10px;
      box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
      background-color: $deep-black;
      transition: transform ease-in-out 300ms;

      .img-wrap {
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .project-heading {
        color: $primary;
        margin-bottom: 16px;
      }

      .__role,
      .__tech,
      .__mini-description {
        margin: 0;
        margin-bottom: 8px;
        font-size: 14px;
      }

      &:hover {
        transform: translate(0, -8px);
      }
    }
  }

  .explore-more {
    display: flex;
    justify-content: center;
    margin: 32px auto;
    width: fit-content;
    padding: 16px 16px;
    background-color: transparent;
    font-size: 24px;
    font-weight: bolder;
    color: $primary;
    border: none;
    outline: none;
    transition: all ease-in-out 300ms;
    border-radius: 10px;
    .icon-wrap {
      margin: auto 8px;
      width: 16px; 
      svg, path {
        transition: fill 300ms ease-in-out;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $primary;
      color: white;
      transform: translate(0, -2px);
      box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
      .icon-wrap svg, path {
        fill: white;
      }
    }

  }
}

@media only screen and (max-width: 768px) {
  .projects-full-wrap {
    .cards-wrap {
      flex-direction: column;
      .card-container {
        margin: 32px auto;
        text-align: center;
      }
    }
  }
}
