@import "../colors";

.about-me-wrap {
  background-color: $bg-secondary;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='723' height='86.8' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%232e2e2e' stroke-width='3.4' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  justify-content: center;
  // padding-top: 160px;
  min-height: 560px;
  height: 100vh;
  flex-direction: column;

  .main-content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
  }

  .work-type-wrap {
    padding: 40px;
    flex: 1;
    color: white;
    margin: 0 24px;
    text-align: center;
    transition: all ease-in-out 300ms;
    box-shadow: none;
    background-color: $bg-primary;

    .icon-wrap {
      margin-bottom: 24px;
    }
    .heading-wrap h2 {
      margin: 0;
      margin-bottom: 24px;
    }
    .info-text {
      margin: 0;
      font-size: 13px;
    }

    &:hover {
      background-color: black;
      box-shadow: 16px 16px 0 -6px $primary;
    }
  }
}

.section-heading {
  padding: 0 0 60px 0;
  max-width: 960px;
  margin: 0 auto;
  .__heading {
    margin: 0;
    color: $primary;
    font-size: 32px;
    font-weight: 900;
  }
}

@media screen and (max-width: 960px) {
  .about-me-wrap {
    padding: 0 16px;
  }
}

@media screen and (max-width: 768px) {
  .about-me-wrap {
    height: auto;
    padding-top: 60px;
    .main-content-wrap {
      flex-direction: column;
      .work-type-wrap {
        margin-bottom: 16px;
      }
    }
  }
}
