@import "./colors";

.hch-btn-primary {
  height: 32px;
  background-color: transparent;
  border: none;
  color: white;
  width: fit-content;
  padding: 0 8px;
  font-size: 14px;
  min-width: 90px;
  border-radius: 10px;
  transition: background-color 300ms ease-in-out;
  cursor: pointer;
  &:hover,
  &:active {
    border: 1px solid white;
    background-color: #333;
    border-color: $primary;
  }
  &:focus {
    outline: none;
  }
}

.generic-960-wrap {
  max-width: 960px;
}

.bold-text {
  font-weight: 700;
}

.__fake-border {
  text-align: center;
  display: block;
  height: 4px;
  width: 24px;
  border-radius: 10px;
  background-color: $primary;
  margin: 16px auto;
}

.gutter-bottom {
  margin-bottom: 16px;
}

.page-header {
  font-weight: 700;
  color: $primary;
  font-size: 40px;
}

.component-header {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $primary;
  font-size: 16px;
  margin-bottom: 8px;
}

.component-description {
  font-size: 20px;
}

@media only screen and (max-width: 960px) {
  .generic-960-wrap {
    max-width: 960px;
    margin: 0 16px !important;
  }
}

@media only screen and (max-width: 768px) {
  .generic-960-wrap {
    flex-direction: column;
  }
}
