@import "../colors";

.not-found-wrap {
  margin: 0 auto;
  text-align: center;
  padding: 120px 0;
  .img-wrap > img {
    width: 540px;
    height: 420px;
  }
}

.not-found-wrap {
  margin: 0 auto;
  text-align: center;
  padding: 120px 0;
  .img-wrap > img {
    width: 540px;
    height: 420px;
  }
}

@media only screen and (max-width: 768px) {
  .not-found-wrap {
    .img-wrap > img {
      width: 320px;
      height: 250px;
    }
  }
}